
#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    log         127.0.0.1 local2

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    stats socket /var/lib/haproxy/stats

    ssl-default-bind-ciphers PROFILE=SYSTEM
    ssl-default-server-ciphers PROFILE=SYSTEM

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

frontend masters
    bind *:80
    bind *:443 ssl crt /certs/server.pem
    use_backend  app_forward_ssl if { ssl_fc  }
    default_backend  app_forward

# Send a Client Certificate to a Backend Server
backend app_forward_ssl
    balance     roundrobin
    server  app1 127.0.0.1:444 ssl verify none crt /certs/client.pem

backend app_forward
    balance     roundrobin
    server  app1 127.0.0.1:81

# Enable Client Certificate Authentication in HAProxy
frontend legends
    bind *:81
    bind *:444 ssl crt /certs/server.pem verify required ca-file /certs/intermediate-ca.crt ca-verify-file /certs/root-ca.crt
    default_backend             app_backend

backend app_backend
    balance     roundrobin
    server  app1 127.0.0.1:8080 check
